<!-- Content Heading -->
<% if (title) { %>
<h1 id="item-detail-header"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message -->
<%# messages() %>

<!-- Inv Items display -->
<%- detail %>
