<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message -->
<%- messages() %>

<!-- Management View (for the buttons) -->
<%- managementView %>

<script src="../../js/inventory.js"></script>
