<!-- Content Heading -->
<div id="error-heading">
  <% if (title) { %>
  <h1><%= title %></h1>
  <% } else { res.redirect('/') } %>
</div>

<!-- Message -->
<div id="error-container">
  <div id="error-message"><%- message %></div>
  <div id="error-graphic">
    <img src="/images/site/error.png" alt="A car upside down and smoking" />
  </div>
</div>
